<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
</head>
<body style="  font-family:  'Gilroy', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <div style="max-width: 100%; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <tbody>
                <tr>
                    <td style="text-align: left; width: 50%;">
                        <img src="./dashboardLogo.png" style="margin-bottom: 40px;"/>
                        <h1 style="margin: 0; padding: 0;">Get Cover</h1>
                        <p style="margin: 0; padding: 0;">1712 Pioneer Ave Ste. 1913 <br/>
                            Cheyenne, WY 82001<br/>
                            844-4JACANA (844-452-2262)</p>
                    </td>
                    <td style=" width: 50%;">
                        <table style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <td colspan="2" style="text-align: right; padding-right: 20px;"> <h1 style="margin: 0; padding-bottom: 10px;">Invoice</h1></td>
                                </tr>
                                <tr>
                                    <td style="border: none; padding: 4px;">Invoice Date:</td>
                                    <td style="border: none; padding: 4px;">20/06/2024</td>
                                </tr>
                                <tr>
                                    <td style="border: none; padding: 4px;"><b>Invoice Number:</b></td>
                                    <td style="border: none; padding: 4px;"><b> 111739</b></td>
                                </tr>
                                <tr>
                                    <td style="border: none; padding: 4px;"><b>Invoice Total:</b></td>
                                    <td style="border: none; padding: 4px;"><b>$2,000.70</b></td>
                                </tr>
                                <tr>
                                    <td style="border: none; padding: 4px;">Currency Type:</td>
                                    <td style="border: none; padding: 4px;">USD</td>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <tbody>
                <tr>
                    <td style="text-align: left; width: 50%;">
                        <h4 style="margin: 0; padding: 0;">Dealer Details:</h4>
                        <h4 style="margin: 0; padding: 0;">Main Account: Vertex Leadership</h4>
                        <small style="margin: 0; padding: 0;">Bill To: Vertex Leadership Group 2528 Ave Germantown, Tennessee 38139 <br/>
                            Amanda Foley | afoley@vertexlg.com <br/>
                            Customer: Bergen Science Charter High School<br/>
                            Purchase Order: 215_002
                            </small>
                    </td>
                    <td style="text-align: left; width: 50%;">
                        <h4 style="margin: 0; padding: 0;">Reseller Details:</h4>
                        <h4 style="margin: 0; padding: 0;">Main Account: Vertex Leadership</h4>
                        <small style="margin: 0; padding: 0;">Bill To: Vertex Leadership Group 2528 Ave Germantown, Tennessee 38139 <br/>
                            Amanda Foley | afoley@vertexlg.com <br/>
                            Customer: Bergen Science Charter High School<br/>
                            Purchase Order: 215_002
                            </small>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <table style="width: 100%; border-collapse: collapse;">
            <thead style="background-color: #f4f4f4; text-align: left;">
                <tr>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Qty</th>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Product Warranty Details</th>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Unit Price</th>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">1</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">Product</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">$50.00</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">$100.00</td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">2</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">Product</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">$75.00</td>
                    <td style="border-bottom: 1px solid #ddd; padding: 8px;">$150.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="font-weight: bold; padding: 8px; text-align: right;">Total:</td>
                    <td style="font-weight: bold; padding: 8px;">$250.00</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>